:root {
  --color-primary: 147, 160, 169;
  --color-primary-dark: 58, 62, 255;
  --color-secondary: 210, 96, 10;
  --color-secondary-dark: 150, 24, 39;
  --color-background: 255, 255, 255;
  --color-background-dark: 31, 51, 57;
}

* {
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

body {
  @apply bg-background font-text;
}

#__next {
  @apply min-h-screen flex flex-col;
}

@layer base {
  h1 {
    @apply text-xl font-heading font-bold md:text-3xl;
  }
  h2 {
    @apply font-heading text-xl md:text-2xl;
  }
  h3 {
    @apply font-text text-base md:text-lg;
  }
  h4 {
    @apply font-heading text-xs md:text-lg;
  }
  h5 {
    @apply font-text text-xs md:text-base;
  }
}

.main-set {
  @apply lg:container lg:mx-auto md:px-20 2xl:px-40 flex-1;
}

.transition-effect {
  @apply transition duration-500 ease-in-out;
}

.my-btn {
  @apply py-1 px-3 font-heading text-sm md:text-base shadow-lg rounded-md;
}

.my-btn-sm {
  @apply py-1 px-2 font-heading text-xs shadow-lg rounded;
}

hr {
  @apply border-2 border-primary bg-primary mt-1.5 my-4;
}

.section {
  @apply my-24 md:py-8;
  /* //TODO: change the md:my:20 */
}

.start-heading {
  @apply text-center md:text-left text-3xl md:text-5xl;
}

.center-itm {
  width: 50%;
  margin: 0 auto;
}

.grid-layout {
  @apply grid grid-cols-2 gap-3 md:grid-cols-3 md:gap-4 px-2 md:px-0;
}

.card-img {
  @apply h-28 md:h-40 w-full rounded-md shadow-lg;
}

.x-adj {
  @apply px-8 md:px-0;
}

/* NAVBAR */
.nav-link {
  @apply py-2 px-3.5 ml-2 font-heading rounded
  hover:bg-primary hover:text-white text-black
  transition-effect cursor-pointer;
}

.nav-style {
  @apply shadow-md
  bg-primary/10;
}
/* NAVBAR */

.active {
  @apply bg-primary text-white;
}

.scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

/* CARD */
.project-card {
  display: block;
  padding: 20px;
  background-position: center center;
  background-size: cover;
  color: white;
  -webkit-text-size-adjust: 100%;
  background-repeat: no-repeat;
  margin: 0;
  z-index: 0;
}
/* CARD */
